<h1>Listing besitzts</h1>

<table>
  <tr>
    <th>Raum</th>
    <th>Ausstattung</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @besitzts.each do |besitzt| %>
  <tr>
    <td><%= besitzt.raum_id %></td>
    <td><%= besitzt.ausstattung_id %></td>
    <td><%= link_to 'Show', besitzt %></td>
    <td><%= link_to 'Edit', edit_besitzt_path(besitzt) %></td>
    <td><%= link_to 'Destroy', besitzt, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Besitzt', new_besitzt_path %>
