<%= form_for(@kunde) do |f| %>
  <% if @kunde.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kunde.errors.count, "error") %> prohibited this kunde from being saved:</h2>

      <ul>
      <% @kunde.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
  <div class="field">
    <%= f.label :firma %><br />
    <%= f.text_field :firma %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :vorname %><br />
    <%= f.text_field :vorname %>
  </div>
  <div class="field">
    <%= f.label :tel %><br />
    <%= f.text_field :tel %>
  </div>
  <div class="field">
    <%= f.label :fax %><br />
    <%= f.text_field :fax %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :plz %><br />
    <%= f.number_field :plz %>
  </div>
  <div class="field">
    <%= f.label :ort %><br />
    <%= f.text_field :ort %>
  </div>
  <div class="field">
    <%= f.label :strasse_nr %><br />
    <%= f.text_field :strasse_nr %>
  </div>  
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.text_field :password_confirmation %>
  </div> 
  
  
  <div class="actions">
    <%= f.submit "Bestätigen"%>
  </div>
<% end %>
