<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
	<head>

	</head>
	<body>
		<div class="villaMenus">
			<ul>
				<li><a href="/sessions/new" target="_self" class="lev1akt">Anmelden</a></li>
				<li><a href="/kundes/new" target="_self" class="lev1">Registrieren</a></li>
			</ul>
		</div>
	     
		<div id="content_middle">
			<br/>
			<p class="head">AnmeldungWO WIRD DIE SEITE BENUTZT2??????????????????????????</p>
			<br/>
			
			<%=form_tag :action=>'current_user' do%><!--:action=>'current_user' -->																							
				<p>			
				<%=label_tag "E-Mail",nil, :style=>"width: 100px; margin-right:16.5px;"%>
				<%=text_field_tag :email%>
				</p>
				<p>
				<%=label_tag "Passwort",nil%>
				<%=text_field_tag :passwort%>
				</p>
				
				<%= submit_tag "Einloggen" %>
				<!--<%= submit_tag "Einloggen"%>-->
			<%end%>	
		</div>
		
		<div id="images_right">
			<div id="htwg_logo">
				<a href="http://www.htwg-konstanz.de" target="_blank"><img src="/assets/logo_htwg.jpg"></a>
			</div>
			<div id="villa_pic2"/>
			<div id="villa_am_see">Villa am See</div>
		</div>
	</body>
</html>

<!--<%= link_to 'Back', kundes_path %>-->
