<p id="notice"><%= notice %></p>

<p>
  <b>Firma:</b>
  <%= @kunde.firma %>
</p>

<p>
  <b>Name:</b>
  <%= @kunde.name %>
</p>

<p>
  <b>Vorname:</b>
  <%= @kunde.vorname %>
</p>

<p>
  <b>Tel:</b>
  <%= @kunde.tel %>
</p>

<p>
  <b>Fax:</b>
  <%= @kunde.fax %>
</p>

<p>
  <b>Email:</b>
  <%= @kunde.email %>
</p>

<p>
  <b>Plz:</b>
  <%= @kunde.plz %>
</p>

<p>
  <b>Ort:</b>
  <%= @kunde.ort %>
</p>

<p>
  <b>Strasse nr:</b>
  <%= @kunde.strasse_nr %>
</p>

<p>
  <b>Raum:</b>
  <%= @kunde.raum_id %>
</p>


<%= link_to 'Edit', edit_kunde_path(@kunde) %> |
<%= link_to 'Back', kundes_path %>
