<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
	<head>

	</head>
	<body>
		<div class="villaMenus">
			<ul>
				<li><a href="/kundes/<%=session[:kunde_id]%>" target="_self" class="lev1akt">Meine Daten</a></li>
				<li><a href="/buchungs" target="_self" class="lev1">Meine Buchungen</a>	</li>
			</ul>
		</div>
	     
		<div id="content_middle">
			<br/>
			<p class="head">Meine Daten</p>
			<br/>
			
			<p id="notice"><%= notice %></p>
			<p><b>Firma:</b> <%= @kunde.firma %></p>
			<p><b>Name:</b> <%= @kunde.name %></p>
			<p><b>Vorname:</b> <%= @kunde.vorname %></p>
			<p><b>Tel:</b> <%= @kunde.tel %></p>
			<p><b>Fax:</b> <%= @kunde.fax %></p>
			<p><b>Email:</b> <%= @kunde.email %></p>
			<p><b>PLZ:</b> <%= @kunde.plz %></p>
			<p><b>Ort:</b> <%= @kunde.ort %></p>
			<p><b>Strasse, Nr:</b> <%= @kunde.strasse_nr %></p>
			
			<%=button_to "Bearbeiten", edit_kunde_path(@kunde), :method => :get%>
		</div>
		
		<div id="images_right">
			<div id="htwg_logo">
				<a href="http://www.htwg-konstanz.de" target="_blank"><img src="/assets/logo_htwg.jpg"></a>
			</div>
			<div id="villa_pic2"/>
			<div id="villa_am_see">Villa am See</div>
		</div>
	</body>
</html>
