<h1>Listing raums</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Pers anz</th>
    <th>Groesse</th>
    <th>Etage</th>
    <th>Status</th>
    <th>Ausstattung</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @raums.each do |raum| %>
  <tr>
    <td><%= raum.name %></td>
    <td><%= raum.pers_anz %></td>
    <td><%= raum.groesse %></td>
    <td><%= raum.etage %></td>
    <td><%= raum.status %></td>
    <td><%= raum.ausstattung %></td>
    <td><%= link_to 'Show', raum %></td>
    <td><%= link_to 'Edit', edit_raum_path(raum) %></td>
    <td><%= link_to 'Destroy', raum, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Raum', new_raum_path %>
