<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
	<head>
		<script type="text/javascript">
			function init(){
				document.getElementById("raum_selected_r_index").selectedIndex=0;			
			}

			function set_disabled(){			
				var val =document.getElementById("raum_selected_r_index").selectedIndex;			
				if (val == 0)
				{
					document.getElementById('info').style.visibility = 'hidden';
					document.getElementById('div_ausst').style.visibility='visible';
					document.getElementById('div_anz').style.visibility='visible';
				}
				else
				{
					document.getElementById('info').style.backgroundColor= "rgb(230, 210, 211)";
					document.getElementById('info').style.visibility = 'visible';
	
					<% @raums.each do |raum| %>					
					
					if (val ==<%= raum.id%>)
					
					{							
						document.getElementById('info').value = 'Lage: ' + '<%= raum.etage%>' +	'; Grösse: '+ '<%= raum.groesse%>' + ' m2' + '; Kapazität: '+ '<%= raum.pers_anz%>';
					}
					<%end%>					
					document.getElementById('div_ausst').style.visibility = 'hidden';
					document.getElementById('div_anz').style.visibility = 'hidden';
				}
			}
		</script>
	</head>
	<body onLoad ='init()'>
		<table cellpadding="0" cellspacing="0" width="900" border="0" align="center" style="margin-top:40px;">
			<tr align="left" valign="top">
				<td>
				<table width="900" border="0" cellpadding="0" cellspacing="0" >
					<!--  HAUPTMENU LEVEL 01-->
					<!--HEADLINE	-->
					<tr>
						<td><img src="/assets/pix_weiss_01.gif" width="215" height="97"></td>
						<td>&nbsp;</td>
						<td class="head">Online-Buchung </td>
						<td>&nbsp;</td>
						<td><a href="http://www.htwg-konstanz.de" target="_blank"><img src="/assets/logo_htwg.jpg" width="245" height="97" border="0"></a></td>
					</tr>

					<!--UNTERMENUE LINKE SEITE LEVEL 02-->
					<tr>
						<td width="215" valign="top">
							<div id="villaMenus" class="villaMenus">
								<a href="/static/l1_buchen" target="_self" class="lev1">Konferenz- und Tagungsr&auml;ume</a>
								<a href="/raums" target="_self" class="lev1akt">Verf&uuml;gbarkeit pr&uuml;fen</a>
								<a href="/buchungs/new" target="_self" class="lev1">Online buchen</a>
								<a href="/l2_anfrage.html" target="_self" class="lev1">Anfrage/Reservierung</a>
								<a href="/static/l1_kontakt.html" target="_self" class="lev1">Kontakt</a>
							</div><!--CONTENT TEXTINHALTE / UNTERMENUE LEVEL 03-->
						</td>
						<td width="30" align="left" valign="top">
							<img src="/assets/pix_weiss_01.gif" width="30" height="100%">
							</td>

						<td width="380" align="left" valign="top">											
							<%=form_tag :action=>'verfuegbarkeit' do%>
							<p>
								Auswahl Zeitraum
								<br>	
								<%= date_select("select_d", "written_on", :start_year =>Time.now.year, :end_year =>Time.now.year+5, :discard_day => true, :order => [ :month, :year] )%>								
							</p>
							<div class="field">									
								<p>								
									Auswahl Raum
									<br>									
									
									<%= collection_select(:raum, :selected_r_index, Raum.all, :id, :name, {:prompt=>"Alle Räume"}, {:onchange => "set_disabled()"}) %> 
									<%= text_field_tag :info, nil, :size => 35, :style => 'border-style: none; color: rgb(55, 88, 115); visibility: hidden;', :disabled => true%>																													
								</p>
							</div>
							<div id="div_anz" class="field">
								<p>								
									Anzahl Teilnehmer
									<br>
									<%= text_field_tag :pers_anz, nil, :onblur=>"if (this.value >120){alert('Die Kapazität des größten Raumes: 120 Personen. Bei Teilnahme von mehr als 120 Personen wenden Sie sich bitte an uns');}"%>								
								</p>
							</div>
	
							<div id="div_ausst" style="border-width: 2px;">
								<p>
									Ausstattung
									<br>
									<% for ausstattung in @ausst %>
										<%= check_box_tag 'ausstattung[]', ausstattung.id %>																				
										<%= ausstattung.bezeichnung%>
										<br>
									<%end%>
								</p>
							</div>
	
							<%= submit_tag 'Verfügbarkeit anzeigen'%>
							<%end %>													
						</td>

						<td width="30" align="left" valign="top"><img src="/assets/pix_weiss_01.gif" width="30" height="100%"></td>
						<!--BILDER RECHTE SEITE	-->
						<td width="245" align="left" valign="top"><img src="/assets/img_see_07.jpg" width="245" height="323">
						<br>
						<br>
						Villa am See </td>
					</tr>
				</table></td>
			</tr>

		</table>
	</body>
</html>