<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @raum.name %>
</p>

<p>
  <b>Pers anz:</b>
  <%= @raum.pers_anz %>
</p>

<p>
  <b>Groesse:</b>
  <%= @raum.groesse %>
</p>

<p>
  <b>Etage:</b>
  <%= @raum.etage %>
</p>

<p>
  <b>Status:</b>
  <%= @raum.status %>
</p>


<%= link_to 'Edit', edit_raum_path(@raum) %> |
<%= link_to 'Back', raums_path %>
<%= link_to 'Destroy', raum_path, confirm: 'Are you sure?', method: :delete %>

