<%= form_for(@ausstattung) do |f| %>
  <% if @ausstattung.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ausstattung.errors.count, "error") %> prohibited this ausstattung from being saved:</h2>

      <ul>
      <% @ausstattung.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ausst_id %><br />
    <%= f.text_field :ausst_id %>
  </div>
  <div class="field">
    <%= f.label :bezeichnung %><br />
    <%= f.text_field :bezeichnung %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
