<h1>Listing ausstattungs</h1>

<table>
  <tr>
    <th>Bezeichnung</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ausstattungs.each do |ausstattung| %>
  <tr>
    <td><%= ausstattung.bezeichnung %></td>
    <td><%= link_to 'Show', ausstattung %></td>
    <td><%= link_to 'Edit', edit_ausstattung_path(ausstattung) %></td>
    <td><%= link_to 'Destroy', ausstattung, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ausstattung', new_ausstattung_path %>
