<%= form_for(@buchung) do |f| %>
  <% if @buchung.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@buchung.errors.count, "error") %> prohibited this buchung from being saved:</h2>

      <ul>
      <% @buchung.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :anfangszeit %><br />
    <%= f.datetime_select :anfangszeit %>      
  </div>
  <div class="field">
    <%= f.label :endzeit %><br />
    <%= f.datetime_select :endzeit%>

  </div>
  <div class="field">
    <%= f.label :raum_id %><br />       
    <%= collection_select(:raum, :selected_id, Raum.all, :id, :name, {:prompt=>"Bitte auswählen"},{:onchange => "document.getElementById('buchung_raum_id').value=this.value"} ) %>
    <%= f.hidden_field :raum_id %>
  </div>
  <div class="field">
    <%= f.hidden_field :kunde_id, :value=> session[:kunde_id] %>        
  </div>
  <%= f.hidden_field :status%>
  <div class="actions">
  	<% if params[:action] == 'new' %>
  		<%= f.hidden_field :status, :value=>'B'%>    	
	<% elsif params[:action] == 'l2_anfrage'%>
		<%= f.hidden_field :status, :value=>'R'%>    	  
	<% end %>
  </div>
<%= f.submit 'Buchen/Reservieren'%>

<% end %>