<h1>Listing buchungs</h1>

<table>
  <tr>
    <th>Buchungsnr</th>
    <th>Anfangszeit</th>
    <th>Endzeit</th>
    <th>Raum</th>
    <th>Kunde</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @buchungs.each do |buchung| %>
  <tr>
    <td><%= buchung.id %></td>
    <td><%= buchung.anfangszeit %></td>
    <td><%= buchung.endzeit %></td>
    <td><%= buchung.raum_id %></td>
    <td><%= buchung.kunde_id %></td>
    <td><%= link_to 'Show', buchung %></td>
    <td><%= link_to 'Edit', edit_buchung_path(buchung) %></td>
    <td><%= link_to 'Destroy', buchung, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Buchung', new_buchung_path %>
