<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
	<head>
		
	</head>
	<body>
		<div class="villaMenus">
			<ul>
				<li><a href="/kundes/<%=session[:kunde_id]%>" target="_self" class="lev1">Meine Daten</a></li>
				<li><a href="/buchungs" target="_self" class="lev1akt">Meine Buchungen</a></li>
			</ul>
		</div>
	     
		<div id="content_middle">
			<br/>
			<p class="head">Meine Buchungen</p>
			<br/>
			
			<table>
			  <tr>
			   	<th style="width: 200px">BNr</th>
			   	<th></th>
			    <th>Von</th>
			    <th></th>
			    <th>Bis</th>
			    <th></th>
			    <th>Raum</th>    
			    <!--<th>Kunde</th>-->
			    <th></th>
			     <th>Status*</th>
			    <th></th>
			    <th></th>
			  </tr>
			<% @buchungs.each do |buchung| %>
			  <tr>
			    <td><%= buchung.id %></td>
			    <td></td>
			    <td style="width: 500px"><%= buchung.anfangszeit.strftime("%d.%m.%Y %H:%M Uhr") %></td>
			    <td></td>    
			    <td style="width: 500px"><%= buchung.endzeit.strftime("%d.%m.%Y %H:%M Uhr")%></td><td></td>
			    <td>
			    <%@r_name = Raum.find(:all,:select=>"name", :conditions =>['id = ?',buchung.raum_id])%>    
			    <% @r_name.each do |name| %>
			    	<%= name.name %>
			    <% end %>
			    </td>
			    <td></td>    
			    <td><%= buchung.status %></td>
			    <td></td> 
			    
			    <td><%=img_button_to "/assets/show.png", buchung%><!--<%= link_to 'Show', buchung %></td>-->   
			    
			    <td><%= img_delete_button_to "/assets/delete.png", buchung%></td>    
			     <%if buchung.status =='R'%>    	
			    	<!--<td><%=img_button_to "/assets/edit.png", buchung%></td>--><!--<td><%= link_to 'Edit', edit_buchung_path(buchung) %></td>-->    	    	    	
			    	<td><%=link_to(image_tag("/assets/gr_haken.png", :class=>"img", :size => "15x15",:title=>"Verbindlich buchen"),{:controller=>"buchungs", :action=>"restobooking",:id=>buchung.id},{:confirm=>"Verbindlich buchen?"})%></td>
			    	    	   
			
			    <% end %>
			  </tr>
			<% end %>
			</table>
			<%="*(B=Buchung, R=Reservierung)"%>
			<br />
		</div>
		
		<div id="images_right">
			<div id="htwg_logo">
				<a href="http://www.htwg-konstanz.de" target="_blank"><img src="/assets/logo_htwg.jpg"></a>
			</div>
			<div id="villa_pic2"/>
			<div id="villa_am_see">Villa am See</div>
		</div>
	</body>
</html>


