<table>
  <tr>
   	<th>Buchungsnr</th>
   	<th></th>
    <th>Anfangsdatum</th>
    <th></th>
    <th>Anfangszeit</th>
    <th></th>
    <th>Enddatum</th>
    <th></th>
    <th>Endzeit</th>
    <th></th>
    <th>Raum</th>    
    <!--<th>Kunde</th>-->
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @buchungs.each do |buchung| %>
  <tr>
    <td><%= buchung.id %></td>
    <td></td>
    <td><%= buchung.anfangszeit.strftime("%d.%m.%Y") %></td>
    <td></td>
    <td><%= buchung.anfangszeit.strftime("%H:%M Uhr") %></td><td></td>    
    <td><%= buchung.endzeit.strftime("%d.%m.%Y") %></td><td></td>
    <td><%= buchung.endzeit.strftime("%H:%M Uhr") %></td><td></td>
    
    <td>
    <%@r_name = Raum.find(:all,:select=>"name", :conditions =>['id = ?',buchung.raum_id])%>    
    <% @r_name.each do |name| %>
    	<%= name.name %>
    <% end %>
    </td>
    <td></td>
    <td><%= link_to 'Show', buchung %></td>
    <td><%= link_to 'Edit', edit_buchung_path(buchung) %></td>
    <td><%= link_to 'Destroy', buchung, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<br />
