<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
	<head>

	</head>
	<body>
		<table cellpadding="0" cellspacing="0" width="900" border="0" align="center" style="margin-top:40px;">
			<tr align="left" valign="top">
				<td>
				<table width="900" border="0" cellpadding="0" cellspacing="0" >
					<!--  HAUPTMENU LEVEL 01-->

					<!--HEADLINE	-->
					<tr>
						<td><img src="/assets/pix_weiss_01.gif" width="215" height="97"></td>
						<td>&nbsp;</td>
						<td class="head">Online buchen
													
						<td>&nbsp;</td>
						<td><a href="http://www.htwg-konstanz.de" target="_blank"><img src="/assets/logo_htwg.jpg" width="245" height="97" border="0"></a></td>
					</tr>

	<!--UNTERMENUE LINKE SEITE LEVEL 02-->
					<tr>
						<td width="215" valign="top">
						<div id="villaMenus" class="villaMenus">
							<a href="kundes/<%=session[:kunde_id]%>/edit" target="_self" class="lev1">Meine Daten</a>
							<a href="/buchungs" target="_self" class="lev1akt">Meine Buchungen</a>							
						</div><!--CONTENT TEXTINHALTE / UNTERMENUE LEVEL 03--></td>
						<td width="30" align="left" valign="top"><img src="/assets/pix_weiss_01.gif" width="30" height="100%"></td>
						<td width="380" align="left" valign="top">
						<div width="100" >

<table>
  <tr>
   	<th style="width: 200px">BNr</th>
   	<th></th>
    <th>Von</th>
    <th></th>
    <th>Bis</th>
    <th></th>
    <th>Raum</th>    
    <!--<th>Kunde</th>-->
    <th></th>
     <th>Status*</th>
    <th></th>
    <th></th>
  </tr>

<% @buchungs.each do |buchung| %>
  <tr>
    <td><%= buchung.id %></td>
    <td></td>
    <td style="width: 500px"><%= buchung.anfangszeit.strftime("%d.%m.%Y %H:%M Uhr") %></td>
    <td></td>    
    <td style="width: 500px"><%= buchung.endzeit.strftime("%d.%m.%Y %H:%M Uhr")%></td><td></td>
    <td>
    <%@r_name = Raum.find(:all,:select=>"name", :conditions =>['id = ?',buchung.raum_id])%>    
    <% @r_name.each do |name| %>
    	<%= name.name %>
    <% end %>
    </td>
    <td></td>    
    <td><%= buchung.status %></td>
    <td></td> 
    
  
    <td><%=img_button_to "/assets/show.png", buchung%><!--<%= link_to 'Show', buchung %></td>-->   
    
    <td><%= img_delete_button_to "/assets/delete.png", buchung%></td>    
     <%if buchung.status =='R'%>    	
    	<td><%=img_button_to "/assets/edit.png", buchung%></td><!--<td><%= link_to 'Edit', edit_buchung_path(buchung) %></td>-->
    	<td><%=link_to(image_tag("/assets/edit.png", :class=>"img", :size => "15x15"), buchung)%></td>
    	
    	

    <% end %>
  </tr>
<% end %>
</table>
<%="*(B=Buchung, R=Reservierung)"%>
<br />

</div>
						<p>
							
						</p>
						</td>
						<td width="30" align="left" valign="top"><img src="/assets/pix_weiss_01.gif" width="30" height="100%"></td>
						<!--BILDER RECHTE SEITE	-->
						<td width="245" align="left" valign="top"><img src="/assets/img_villa_01.jpg" width="245" height="327">
						<br>
						<br>
						Villa am See
						<br>
						</td>
					</tr>
				</table></td>
			</tr>
		</table>
	</body>
</html>


