<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
	<head>

	</head>
	<body>
		<div class="villaMenus">
			<ul>
				<li><a href="/static/l1_buchen" target="_self" class="lev1">Konferenz- und Tagungsr&auml;ume</a></li>
				<li><a href="/raums" target="_self" class="lev1">Verf&uuml;gbarkeit pr&uuml;fen</a></li>
				<li><a href="/buchungs/new" target="_self" class="lev1akt">Online buchen</a></li>
				<li><a href="/l2_anfrage.html" target="_self" class="lev1">Anfrage/Reservierung</a></li>
				<li><a href="/static/l1_kontakt.html" target="_self" class="lev1">Kontakt</a></li>
			</ul>
		</div>
	     
		<div id="content_middle">
			<br/>
			<p class="head">Online buchenWO WIRD DIE SEITE BENUTZT6??????????????????????????</p>
			<br/>
			
			<p><b>Buchungsnr:</b> <%= @buchung.id %></p>
			<p><b>Anfangszeit:</b> <%= @buchung.anfangszeit %></p>
			<p><b>Endzeit:</b> <%= @buchung.endzeit %></p>
			<p><b>Raum:</b> <%= @buchung.raum_id %></p> 	<!-- TODO Raum als Name sollte angezeigt werden(nicht als zahl) -->	
			<p><b>Kunde:</b> <%@k_name=Kunde.find(@buchung.kunde_id)%> <%= @k_name.name %></p>											
			<p id="notice"><%= notice %></p>							
		</div>
		
		<div id="images_right">
			<div id="htwg_logo">
				<a href="http://www.htwg-konstanz.de" target="_blank"><img src="/assets/logo_htwg.jpg"></a>
			</div>
			<div id="villa_pic2"/>
			<div id="villa_am_see">Villa am See</div>
		</div>				
	</body>
</html>
