<!DOCTYPE html>
<html>
<head>
  <title>Raumbuchungssystem Villa Rheinburg</title>
  <% if !mobile_device? %>
  	<%= stylesheet_link_tag    "mobile" %>
  <% else %>
  	<%= stylesheet_link_tag    "application"%>
  <% end %>
  
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div>
		<div id="image_villa_motion">
	        <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0">
	        	<param name="movie" value="http://www.villa-rheinburg.htwg-konstanz.de/img/hg_01.swf">
	        	<param name="quality" value="high">
	        	<embed src="http://www.villa-rheinburg.htwg-konstanz.de/img/hg_01.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="655" height="97"></embed>
	        </object> 
		</div>
		
		<div id="image_villa_static"/>
	</div>
	
	<div>
		<div id="navi_bar_menu">
			<ul>
				<li><a href="/static/index" target="_self" class="menu1akt">Home</a></li>
				<li><a href="/static/l1_buchen" class="menu1">Online-Buchung</a></li>
				<li><a href="/static/l1_kontakt" class="menu1">Kontakt</a></li>
				<li>
					<% if current_user.nil?%>
			        	<%=link_to "Login", new_session_path%>
			        <% else %>
			        	Hallo, <%=link_to(current_user.name,:controller => "kundes", :action => "show", :id => current_user.id) %>
			        	<%=link_to "(Logout)", session_path(session), :method=> :delete%>
			        <% end %>
		        </li>
			</ul>
		</div>
		<div id="navi_bar"/>
	</div>
	
<%= yield %>

</body>
</html>
